<table class="table table-hover">
    <thead class="thead-dark">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Sale Volume</th>
        <th>Target Achieved</th>
    </thead>
    <tbody>
        <tr *ngFor="let sp of salesPersonList">
            <td>{{sp.firstName}}</td> 
            <td>{{sp.lastName}}</td> 
            <td>{{sp.email}}</td> 
            <td>{{sp.salesVolume | currency:'USD'}}</td>
            <td>
               <div *ngIf="sp.salesVolume > 5000; else myElseBlock">Yes</div>
               <ng-template #myElseBlock>No</ng-template>
            </td>
        </tr>
    </tbody>
</table>